.main_menu{
  margin-left:35%;
  font-family:  cursive, sans-serif;
  color:white;
  color:inherit;
}

.navbar{
  background:rgba(0, 78, 251, 0.3);
}

.top_menu a{
  color:white !important;
}

.blur{
  height:100%;
  margin:0 0 0 0 !important;
  padding:0 !important;
  background-color:rgba(0, 0, 0, 0.3);
}

.red_shadow_white_text{
  text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em white;
}

.green_shadow_white_text{
  text-shadow: 1px 1px 2px black, 0 0 1em green, 0 0 0.2em white;
}

.yellow_shadow_white_text{
  text-shadow: 1px 1px 2px black, 0 0 1em yellow, 0 0 0.2em white;
}

.blue_shadow_white_text{
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em white;
}

.fa {
  padding-left: 10px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom:10px;
  font-size: 30px;
  width: 20px;
  left: 10px;
  text-decoration: none;
  margin: 5px 2px;
  color:white;
}

.fa-twitter{
  background: #55ACEE;
}

.fa-linkedin{
  background: #007bb5;
}

.fa-github{
  background: rgb(105, 99, 106);
}

.fa:hover{
  opacity: 0.7;
}

.jumbotron{
  height:100vh; /*make fullscreen 100vh=100%                              */
  margin:0px;
}

body{
  font-family: "Times New Roman", Times, serif;
}

textarea{
  resize:none;
}

#welcome_section{
  background: url('../images/welcome.jpg') no-repeat;
  background-size: cover;
}

#welcome_section .container{
  color:white;
  padding:10% 5% 10% 30%;
}

#about{
  background: url('../images/about-me.jpg') no-repeat;
  color:white;
  background-size: cover;
  padding:10%;
}

#about p{
  font-size:28px !important;
}

#about .container{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 75px;
  padding: 5%;
}

@media (max-width: 610px){
  #about{
    height:auto;
  }

  #about p{
    font-size:18px !important;
    line-height:30px;
  }
}

@media (max-height: 571px){
  #about{
    height:auto;
  }

  #about p{
    font-size:18px !important;
    line-height:30px;
  }
}

#projects{
  background: url('../images/projects.jpg') no-repeat ;
  background-size: cover;
  color:white !important;
}

#projects .project-tile{
  border-style: dashed;
  color:rgba(238, 210, 23, 0.44);
}

#projects text{
  font-size:28px;
  font-style:italic;
  color: white;
}

#projects #my_portfolio{
  margin:15% 10% 10% 10% !important;
  padding:5% !important;
  background-color:rgba(1, 12, 12, 0.91);
}

#contact{
  background: url('../images/contact.jpg') no-repeat;
  background-size: cover;
}

#contact .container{
  padding:5% 0 0 0 !important;
}

@media (max-height: 610px){
  #contact{
    height:auto;
  }
}

@media (max-width: 410px){
  #contact{
    width:auto;
  }
}

#contact #social{
  padding: 0 20%;
  float:right;
}

#contact form .form-control{
  border-radius:20px;
}

#contact form .btn{
  margin-right:2%;
  float:right;
  border-radius:20px;
  width:200px;
}

#contact form .glyphicon{
  margin-top:0px;
  color: rgb(250, 225, 191);
  font-size:5vh;
}
